jobs:
  nightly-wagtail-test:
    docker:
      - image: circleci/python:3.8
    steps:
      - checkout
      - run: git clone git@github.com:wagtail/wagtail.git

      # Install your plugin with its testing requirements.
      - run: pip install -e .[test]
      # Replace Wagtail with the one checked out from git
      - run: pip install ./wagtail
      # Run the tests.
      - run: pytest

      - run:
          when: on_fail
          command: python ./.circleci/report_nightly_build_failure.py


workflows:
  version: 2

  nightly:
    jobs:
      - nightly-wagtail-test
    triggers:
      - schedule:
          cron: "0 0 * * 1"
          filters:
            branches:
              only:
                - master
